@using vcardsh.web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!Doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Iniciar Sesión</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Iniciar Sesión</h3>
                                    </div>

                                    <h6 class="h5 mb-0">Bienvenido a VCard</h6>
                                    <p class="text-muted mt-2 mb-5">Entra tu correo electrónico y tu contraseña para entrar a tu panel.</p>

                                    <form action="@Url.Action("Login","Account")" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Correo Electrónico</label>
                                            <input type="email" name="Email" class="form-control" id="exampleInputEmail1">
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="exampleInputPassword1">Contraseña</label>
                                            <input type="password" name="Password" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="form-group mb-1">
                                            <input type="checkbox" name="RememberMe" value="" />
                                            <label>Recordar Sesión</label>
                                        </div>
                                        <button type="submit" class="btn btn-theme">Inicio de Sesión</button>
                                        <a href="#l" class="forgot-link float-right text-primary">¿Olvido su contraseña?</a>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                        <h4 class="text-white mb-4">This  beautiful theme yours!</h4>
                                        <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other users."</p>
                                        <p>- Admin User</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                
                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>
</body>
</html>

