@{
    ViewBag.Title = "Home Page";
    
}

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <h3 class="card-text"><i class="fas fa-users"></i> @ViewBag.Usuarios</h3>
                <a href="@Url.Action("Index","Usuarios")" class="btn btn-primary btn-sm">Ver</a>
            </div>
        </div>
    </div>
    
</div>